body{
	background-size:100%;
	background-image: url("https://cdn.discordapp.com/attachments/972697365913956422/990940693537124382/background.jpg");
	
}

.inicio{
    margin-top:150px;
}

.titulo{
    color:gray;
    font-size:120px;
    font-family:serif;
}
.subtitulo{
    color:gray;
    font-size:50px;
    font-family:serif;
}

.nombres{
    color:gray;
    font-size:40px;
    font-family:serif;
}
